body{
    font-family: Arial;
}

#lewy, #prawy{
    float: left;
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 410px;
}

#baner, #glowny{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
}

#stopka_lewy, #stopka_prawy{
    float: left;
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 100px;
}

table, td{
    border: solid 1px rgb(255, 127, 80);
    padding: 10px;
    text-align: center;
}

a{
    color: white;
}