body{
    font-family: Verdana;
    color: #2f2f2f;
}

#pierwszy{
    float: left;
    background-color: #dcdcdc;
    width: 55%;
    height: 80px;
    text-align: center;
}

#drugi, #trzeci, #czwarty{
    float: left;
    background-color: #dcdcdc;
    width: 15%;
    height: 80px;
}

#lewy{
    float: left;
    background-color: #808080;
    width: 30%;
    height: 450px;
}

#prawy{
    float: left;
    background-color: #808080;
    width: 70%;
    height: 450px;
}

#stopka{
    clear: both;
    background-color: #dcdcdc;
    text-align: center;
}

h5{
    color: #808080;
    border: solid 1px #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;
}

input[type="number"]{
    color: gray;
}